
h1{
    font-size:60px;
    line-height:96px;
    margin:4px 0 -4px;
    text-align:center;
    font-weight:normal;
    position:relative;
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}

h2{
    font-size:30px; line-height:66px; margin:4px 0 -4px; text-align:left; font-weight:normal;position:relative;
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;

}

.movie_name{
    font-weight:900;
    color:#63a62f;
}

.current_search{
    font-weight:900;
    color:darkorange;
}

.page_link{
    padding:10px;
    text-align: right;
}

article#home_page_text a{
    text-decoration: none;
}

/* search and feature sections*/

section{
    overflow:hidden;
    width:100%;
}


section#feature_area p {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    margin-top: 15px;
}

section#search_section{
    padding:50px;
}

article#search_article{
    position:relative;
    text-align:center;
}

.movieImageStyle{
    float:left;
}

.movieInfoStyle{
    text-align: center;
}


div .movieInfoStyle p{
    margin:0px;
    padding:0px;
    line-height: 25px;
}

.movieArticleStyle{
    float:left;
    width:100%;
    padding:20px;
    text-align: center;
}

.movie_full_info{

}

.box h3{
    text-align:center;
    position:relative;
    top:80px;
}
.box {

    width:70%;
    height:200px;
    background:#FFF;
    margin:20px auto;
    position:absolute;
    left:13%;

}

.shadow_effect
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow_effect:before, .shadow_effect:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow_effect:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

.clearfix:after{
    content:".";
    display:block;
    height:0;
    visibility:hidden;
    clear:both;
}

/*Input Text and Button*/

/* PS: Button css copied from card-o-matic
example from the lectures*/

input[type=text]{
    color: #999;
    font-size:1em;
}

.search {
    padding:5px 30px 5px 30px;
    margin:3px;
    background: url('/uploads/images/search.png') no-repeat 8px 6px;
}

.page_number_info{

    height: 20px;
    padding-bottom: 10px;
    text-align: center;
    visibility: hidden;
}


.addWatchListButton{
    margin:5px;
    text-align: center;
}

.removeWatchListButton{
    margin:5px;
    text-align: center;
}

.movieDataHidden{
    display:none;
    height:0;
    width:0;
}

article#watchList_empty{
    padding:30px;
    text-align: center;
    color:#555;
}

